/*
font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Simonetta', cursive;



*/

.site-name {
	font-family: 'Simonetta', cursive;


}


#btns {
	background-color: #fc9384;
}

a {
	color: #57C3C9;
}

a:hover {
	color: #82B58C;
}

* {
	font-family: 'Quattrocento', serif;
}
